In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("Nfacts.csv")
df

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
0,Cows' milk,1 qt.,976,660,32,40,36,0,48,Dairy products
1,Milk skim,1 qt.,984,360,36,t,t,0,52,Dairy products
2,Buttermilk,1 cup,246,127,9,5,4,0,13,Dairy products
3,"Evaporated, undiluted",1 cup,252,345,16,20,18,0,24,Dairy products
4,Fortified milk,6 cups,"1,419","1,373",89,42,23,1.4,119,Dairy products
...,...,...,...,...,...,...,...,...,...,...
330,Fruit-flavored soda,12 oz.,346,161,0,0,0,0,42,"Drinks,Alcohol, Beverages"
331,Ginger ale,12 oz.,346,105,0,0,0,0,28,"Drinks,Alcohol, Beverages"
332,Root beer,12 oz.,346,140,0,0,0,0,35,"Drinks,Alcohol, Beverages"
333,Coffee,1 cup,230,3,t,0,0,0,1,"Drinks,Alcohol, Beverages"
334,Tea,1 cup,230,4,0,t,0,0,1,"Drinks,Alcohol, Beverages"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Food      335 non-null    object
 1   Measure   335 non-null    object
 2   Grams     335 non-null    object
 3   Calories  334 non-null    object
 4   Protein   335 non-null    object
 5   Fat       335 non-null    object
 6   Sat.Fat   333 non-null    object
 7   Fiber     335 non-null    object
 8   Carbs     335 non-null    object
 9   Category  335 non-null    object
dtypes: object(10)
memory usage: 26.3+ KB

In [5]:
df.head(2)

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
0,Cows' milk,1 qt.,976,660,32,40,36,0,48,Dairy products
1,Milk skim,1 qt.,984,360,36,t,t,0,52,Dairy products

In [6]:
df.shape

(335, 10)

In [7]:
df.isnull().sum()

Food        0
Measure     0
Grams       0
Calories    1
Protein     0
Fat         0
Sat.Fat     2
Fiber       0
Carbs       0
Category    0
dtype: int64

In [8]:
# This will give what %tage of each column's data is null
# In our case, 0 %tage of each column's data is null
# Which means no data Filling is needed
p = df.isnull().sum()
p = p/len(df)*100
p

Food        0.000000
Measure     0.000000
Grams       0.000000
Calories    0.298507
Protein     0.000000
Fat         0.000000
Sat.Fat     0.597015
Fiber       0.000000
Carbs       0.000000
Category    0.000000
dtype: float64

In [12]:
df["Category"].unique()

array(['Dairy products', 'Fats, Oils, Shortenings', 'Meat, Poultry',
       'Fish, Seafood', 'Vegetables A-E', 'Vegetables F-P',
       'Vegetables R-Z', 'Fruits A-F', 'Fruits G-P', 'Fruits R-Z',
       'Breads, cereals, fastfood,grains', 'Soups', 'Desserts, sweets',
       'Jams, Jellies', 'Seeds and Nuts', 'Drinks,Alcohol, Beverages'],
      dtype=object)

Fiber,0,0.1,0.10,0.2,0.20,0.3,0.30,0.31,0.4,0.40,...,3.6,4.40,4.6,5,6.60,67.50,8,9.00,a,t
Category,,,,,,,,,,,,,,,,,,,,,
"Breads, cereals, fastfood,grains",0,8,4,1,0,2,1,1,1,0,...,0,1,1,0,0,1,1,1,0,8
Dairy products,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Desserts, sweets",13,4,0,2,1,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,4
"Drinks,Alcohol, Beverages",12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Fats, Oils, Shortenings",12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Fish, Seafood",17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
Fruits A-F,2,0,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
Fruits G-P,0,0,0,3,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,4
Fruits R-Z,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
"Jams, Jellies",6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
"Meat, Poultry",27,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
Seeds and Nuts,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Soups,3,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Vegetables A-E,0,0,0,1,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Vegetables F-P,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
Vegetables R-Z,0,0,0,0,0,1,0,0,2,3,...,0,0,0,0,0,0,0,0,0,3